# Excluded from language stats
packages/ammo/* linguist-generated
packages/draco/* linguist-generated
packages/debug/*.js linguist-generated
docs/* linguist-documentation
script/* linguist-generated
dist/* linguist-vendored
public/* linguist-vendored
